header#gb * {
  color: white;
  text-shadow: 0.05em 0 black,
  0 0.05em black,
  -0.05em 0 black,
  0 -0.05em black,
  -0.05em -0.05em black,
  -0.05em 0.05em black,
  0.05em -0.05em black,
  0.05em 0.05em black;
}

#M842Cd [role=menuitem], header#gb div.BYXlo *, header#gb input {
  text-shadow: none;
  color: black;
}

header#gb svg {
  fill: white;
}

header#gb button[aria-label=Search] svg,
header#gb button[aria-label="Clear search"] svg,
header#gb button[title="Search options"] svg {
  fill: #5f6368;
}

/*.SGWAac {*/
/*  background: linear-gradient(90deg, rgba(255,0,0,0.5), rgba(0,0,255,0.5));*/
/*}*/

/*.SGWAac *:not([role=button]) {*/
/*  background-color: transparent!important;*/
/*  color: white!important;*/
/*  text-shadow:*/
/*          0.05em 0 black,*/
/*          0 0.05em black,*/
/*          -0.05em 0 black,*/
/*          0 -0.05em black,*/
/*          -0.05em -0.05em black,*/
/*          -0.05em 0.05em black,*/
/*          0.05em -0.05em black,*/
/*          0.05em 0.05em black;*/
/*}*/
