#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 30px;
}

body {
    min-width: 400px;
    background: linear-gradient(45deg, red, orange, yellow, green, blue, purple);
    color: white;
}

#footer {
    text-align: center;
}

#radio-parent {
    line-height: 30px;
    background-color: rgba(0, 0, 0, 0.3);
    width: 180px;
}

label > span {
    position: relative;
    top: -2px;
}

.fill-width {
    width: 100%;
}

#notification {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    line-height: normal;
    background-color: rgba(0, 0, 0, 0.3);
}

#custom-colors {
    padding-left: 25px;
    margin: 10px 0 15px;
}

.color-input {
    padding: 3px 0;
    line-height: 15px;
    width: 9ch;
}

.delete-button {
    position: relative;
    top: 2px;
    width: 25px;
    padding: 0 1px;
}

.delete-button svg {
    position: relative;
    top: 2px;
}

